.root {
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	gap: var(--mantine-spacing-md);
	flex-wrap: nowrap;
	justify-content: space-between;
}

.innerWrapper {
	display: flex;
	align-items: center;
	gap: calc(var(--mantine-spacing-md) / 2);
	flex-wrap: nowrap;
}
