html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  --header-height: 60px;

  --spacing: var(--mantine-spacing-sm);
  --spacing-sm: calc(var(--spacing) / 2);
  --spacing-lg: calc(var(--spacing) * 2);

  --border: 1px solid var(--mantine-color-default-border);
}

.root {
  display: grid;
  grid-template-rows: var(--header-height) calc(100dvh - var(--header-height));

  max-width: 1700px;
  margin: 0 auto;
  border: var(--border);

  height: 100dvh;
  overflow: hidden;
}

.header {
  height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: calc(var(--spacing) * 1.5);

  padding: var(--spacing-sm) var(--spacing);

  border-bottom: var(--border);
}

.sidebar,
.main {
  overflow-y: auto;
  padding-block: var(--spacing);
}

.main {
  padding-inline: var(--spacing-lg);
}

svg {
  width: 1rem;
  height: 1rem;
}
